<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pikup.pash.pikup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ForgetActivity" />
        <!-- //  <activity android:name=".PasswordResetActivity" /> -->
        <activity android:name=".HomeActivity" />
        <activity android:name=".CaptureImageActivity" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".ItemDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".UserInformationActivity" />
        <activity android:name=".UploadImageActivity" />
        <activity android:name=".ChooseCategoryActivity" />
        <activity android:name=".DeleteAccountActivity" />
        <activity android:name=".DeleteAggrement" />
        <activity android:name=".FilterCategoryActivity" />
        <activity android:name=".FilterByLocation"></activity>
    </application>

</manifest>